@page
@model ProjectWEB.Pages.TaskModel
@{
    ViewData["Title"] = "Task";
}

<div class="text-center">
    <h1 class="display-3 mt-5">HAPPY BIRTHDAY!</h1>

    <div class="my-4">
        <img src="~/Resources/zosia.jpg" alt="Obrazek prywatności" class="img-fluid" />
    </div>
    <div class="my-4">
        <img src="~/Resources/koty1.jpg" alt="Obrazek prywatności" class="img-fluid" />
    </div>
    <div class="my-4">
        <img src="~/Resources/koty2.jpg" alt="Obrazek prywatności" class="img-fluid" />
    </div>
    <div class="my-4">
        <img src="~/Resources/poordecisions.png" alt="Obrazek prywatności" class="img-fluid" />
    </div>

    <p class="lead text-muted mb-5">
        Jeśli się zastanawiasz dlaczego to zrobiłem to nie wiem. Chiałem przetestować deploy strony i teraz masz takie coś. <br/>
        Ta strona to będzie zadanie dla ciebie :)
    </p>
</div>